<div class="predictive-search-container">
  <div class="predictive-search-modal">
    <div class="page-width">
      <div class="inner"></div>
      <div class="close">
        {% render 'gb-icon', icon: 'close-md' %}
      </div>
    </div>
  </div>
</div>
