<div quick-view-container class="quick-view-container">
  <div class="quick-view-modal">
    <div class="inner"></div>
    <div class="close">{% render 'gb-icon', icon: 'close' %}</div>
  </div>
</div>
