nav.breadcrumbs {
    ul {
        padding: 0;
        li {
            display: inline-block;
            position: relative;
            padding: 4px;
            &:first-of-type {
                padding-left: 0;
            }
            a {
                font-size: 12px;
                text-transform: capitalize;
            }
            &:nth-of-type(n+2) {
                &:before {
                    content: "/";
                    position: absolute;
                    left: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 12px;
                }
            }
        }
    }
}