.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: var(--text-primary-color);

    label,
    input {
        font-size: 14px;
    }

    label {
        font-weight: bold;
        color: var(--text-primary-color);
    }

    input,
    textarea,
    select {
        width: 100%;
        padding: 15px;
        border: 1px solid #e2e1df;
        border-radius: 0px;
        background: white;

        input,
        select {
            height: 50px;
        }
        textarea {
            height: 100px;
        }
    }

    // Custom Checkbox Input
    .form-checkbox {
        position: relative;
        display: block;

        padding-left: 40px;

        .checkbox {
            width: 25px;
            height: 25px;
            border-radius: 0px;
            padding: 2.5px;

            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            inset: -2px auto auto 0;

            background: white;
            border: solid 1px #e2e1df;
            transition: background 0.1s ease-in;

            .form-checkbox-icon {
                opacity: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                color: var(--primary-color);
                transition: opacity 0.1s ease-in;
            }
        }

        .checkbox-label {
            margin: 0;
            text-align: left;
            font-size: var(--font-size-12);
            font-weight: normal;
        }

        input {
            appearance: none;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: 0;

            opacity: 0;
            position: absolute;
            inset: 25px auto auto 10px;
        }

        input:checked + .checkbox {
            background: var(--text-alternate-color);
            .form-checkbox-icon {
                opacity: 1;
            }
        }
    }

    // Custom Select
    .form-select {
        width: 100%;
        position: relative;
        isolation: isolate;

        select {
            z-index: -1;
        }

        svg {
            width: 18px;
            height: 18px;
            object-fit: contain;
            pointer-events: none;

            z-index: 1;
            position: absolute;
            inset: 50% 15px auto auto;
            translate: 0 -50%;

            &,
            path {
                fill: var(--text-primary-color);
            }
        }
    }
}
