<section class="main-404-qf-section">
  <div class="wrapper page-width">
    <div class="content-group">
      <h1 class="heading-md">404 Page Not Found</h1>
      <p class="body">
        The page you requested does not exist. <br>
        Use the menu above or search below.
      </p>
      {% render 'gb-search', placeholder: 'Search' %}
    </div>
  </div>
</section>
