@import "../../../scss/breakpoints.scss";

section.account-form-page.register {
  background-color: #F0F0F0;

  .account-form-wrapper {
    max-width: 900px;
    @include to-sm { max-width: 500px; }
    
    // Form Styles
    .account-form {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 25px 50px; 
      @include to-md { gap: 25px 30px; }

      .required-msg {
        margin-top: 0;
      }

      .form-errors { margin-bottom: -25px; }

      // Form Fields
      .form-field {
        width: calc(50% - 25px );
        @include to-md { width: calc(50% - 15px); }
        @include to-sm { width: 100%; }
      }

      // Submit Wrapper
      .form-buttons.submit-wrapper {
        margin-top: 5px;
        flex-direction: column;
        gap: 30px;

        button.submit-register {
          margin: 0 auto;
          max-width: fit-content;
        }
      }
      
    }
  
  }

}