@import "../../../scss/breakpoints.scss";

section.account-form-page.reset-password {
    background-color: #F0F0F0;

    .account-form-wrapper p {
        text-align: center;
    }
    
    .reset-password-submit {
        margin: 0 auto;
    }
}