.announcement-bar {
  position: relative;
  z-index: 110;
  .announcement-bar-slider {
    background-color: var(--secondary-color);
    .swiper-slide {
      text-align: center;
      height: 30px;
      display: grid;
      place-items: center;

      font-size: var(--font-size-14);
      letter-spacing: 0.7px;
      a {
        text-decoration: none;
      }
    }
  }
}
