.faqs-tags-based {
    .faqs-tags-based-wrapper {
        background-color: var(--accent-2-color);
        .faqs-tags-based-container {
            max-width: 750px;
            margin: 0 auto;
            .faq-header-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                > div {
                    display: flex;
                    align-items: center;
                }
            }
            .accordion {
                border-bottom: 3px solid #fff;
                padding: 10px 0;
                .heading-sm {
                    font-size: 18px;
                }
            }
        }
        &.white-bg {
            background-color: #fff;
            .accordion {
                border-bottom: 3px solid var(--accent-1-color);
            }
        }
    }
}