@import '../../../scss/breakpoints.scss';
.wishlist-page {
  position: relative;

  .breadcrumbs-snippet {
    margin-top: 5px;
    margin-bottom: 24px;
  }

  h1 {
    display: inline-block;
  }

  .wishlist__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
    opacity: 0;
    transition: opacity 3000ms ease;

    &.loaded {
      opacity: 1;
    }

    &.loaded ~ .loader {
        opacity: 0;
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 80px;
    transition: opacity 200ms ease;
    z-index: 1;
  }

  @media only screen and (min-width: 560px) {
    .wishlist__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .breadcrumbs-snippet {
      margin-top: 24px;
      margin-bottom: 42px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .wishlist__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 20px;
    }
  }
}
.empty-wishlist {
  display: none;
  margin-bottom: 40px;

  &.show {
    display: block;
  }
  .empty-wishlist-message {
    display: block;
    margin-bottom: 140px;
    text-align: center;
    @include to-sm() {
      margin-bottom: 40px;
    }
  }
  .featured-products-heading-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 25px;
      @include to-xs() {
          flex-direction: column;
          align-items: center;
          gap: 7px;
      }
  }
  .swiper {
      @include to-sm() {
          margin-right: -1.5rem;
      }
  }
  
}
